@using CookinRecipe.BusinessLayers
@model Recipe
@{

}
<div class="mx-auto mt-20 md:max-w-6xl w-full bg-white p-6 rounded-lg shadow">
    <div class="text-3xl font-bold text-blue-600 mb-4">@ViewBag.Title</div>
    <form class="form-horizontal" action="~/Recipe/Save" method="post" enctype="multipart/form-data">
        <input type="hidden" name="@nameof(Model.RecipeID)" value="@Model.RecipeID" />
        <label class="block mb-2 text-lg font-sans">Hình ảnh của món ăn</label>
        <div class="form-group">
            <div class="col-sm-10">
                <input type="hidden" name="@nameof(Model.RecipeImage)" value="@Model.RecipeImage" />
                <input type="file" class="form-control mb-2 block bg-blue-50 w-full cursor-pointer border border-gray-300 text-gray-900 font-sans focus:outline-none focus:border-transparent text-sm rounded-lg" name="uploadPhoto" accept="image/*"
                       onchange="document.getElementById('RecipePhoto').src = window.URL.createObjectURL(this.files[0])" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-sm-10 mb-2">
                <img id="RecipePhoto" src="~/Themes/images/recipe/@Model.RecipeImage" class="img img-bordered font-sans" style="width:250px" alt="Chưa chọn hình ảnh" />
            </div>
        </div>

        <div class="font-sans mb-4 text-sm text-gray-500" id="user_avatar_help">Hình ảnh thành quả của món ăn.</div>
        

        <label class="block font-sans text-lg mb-2">Video hướng dẫn (Không bắt buộc)</label>
        <div class="form-group">
            <div class="col-sm-10">
                <input type="hidden" name="@nameof(Model.RecipeVideo)" value="@Model.RecipeVideo" />
                <input type="file"
                       class="form-control mb-2 block bg-blue-50 w-full cursor-pointer border border-gray-300 text-gray-900 font-sans focus:outline-none focus:border-transparent text-sm rounded-lg"
                       name="uploadVideo"
                       accept="video/*"
                       onchange="previewVideo(this)" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-10 mb-2">
                <video id="RecipeVideo" class="rounded" width="320" height="240" controls>
                    <source src="~/Themes/videos/@Model.RecipeVideo" type="video/mp4">
                    Trình duyệt không hỗ trợ video.
                </video>
            </div>
        </div>

        <script>
            function previewVideo(input) {
                const file = input.files[0];
                const video = document.getElementById('RecipeVideo');

                if (file) {
                    const url = URL.createObjectURL(file);
                    video.src = url;
                    video.load();
                    video.style.display = 'block';
                }
            }
        </script>

        <div class="font-sans mb-4 text-sm text-gray-500" id="user_avatar_help">
            Video hướng dẫn giúp mọi người thực hiện món
            ăn dễ dàng hơn.
        </div>

        <label class="block font-sans text-lg mb-2">Tên món ăn</label>
        <input type="text" name="@nameof(Model.RecipeName)" value="@Model.RecipeName"
               class="w-full font-sans p-2 border bg-blue-50 border-gray-300 text-gray-900 rounded-lg focus:ring-blue-600 focus:border-blue-600 mb-4"
               placeholder="Nhập tên món ăn">
        @Html.ValidationMessage(nameof(Model.RecipeName))

        <label class="block text-lg font-sans mb-2">Mô tả</label>
        <input type="text" name="@nameof(Model.Description)" value="@Model.Description"
               class="w-full font-sans p-2 border bg-blue-50 border-gray-300 text-gray-900 rounded-lg focus:ring-blue-600 focus:border-blue-600 mb-4"
               placeholder="Nhập mô tả">
        @Html.ValidationMessage(nameof(Model.Description))

        <label class="block text-lg mb-2">Mức độ</label>
        <select name="@nameof(Model.Difficulty)" class="w-full font-sans p-2 border mb-4 border-gray-300 bg-blue-50 text-gray-900 rounded-lg focus:ring-blue-600 focus:border-blue-600">
            @if(Model.RecipeID==0)
            {
                <option value="0" selected>Dễ</option>
                <option value="1">Trung Bình</option>
                <option value="2">Khó</option>
            }
            else if (Model.Difficulty == 2)
            {
                <option value="0">Dễ</option>
                <option value="1">Trung Bình</option>
                <option value="2" selected>Khó</option>
            }
            else if(Model.Difficulty == 1)
            {
                <option value="0">Dễ</option>
                <option value="1" selected>Trung Bình</option>
                <option value="2">Khó</option>
            }
            else
            {
                <option value="0" selected>Dễ</option>
                <option value="1">Trung Bình</option>
                <option value="2">Khó</option>
            }
        </select>

        <label class="block text-lg font-sans mb-2">Thời gian nấu (phút)</label>
        <input type="number" name="@nameof(Model.PrepTime)" value="@Model.PrepTime"
               class="bg-blue-50 font-sans border-gray-300 text-gray-900 rounded-lg focus:ring-blue-600 focus:border-blue-600 w-full p-2 border mb-4"
               placeholder="Nhập thời gian">
        @Html.ValidationMessage(nameof(Model.PrepTime))

        <label class="block text-lg font-sans mb-2">Khẩu phần (số người ăn)</label>
        <input type="text" name="@nameof(Model.Serving)" value="@Model.Serving"
               class="bg-blue-50 font-sans w-full p-2 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-600 focus:border-blue-600 mb-4"
               placeholder="Nhập số người ăn">
        @Html.ValidationMessage(nameof(Model.Serving))

        <label class="block text-lg font-sans mb-2">Nguyên liệu</label>
        <input type="text" id="ingredient-search"
               class="w-full font-sans bg-blue-50 p-2 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-600 focus:border-blue-600 mb-2"
               placeholder="Thêm nguyên liệu..." oninput="searchIngredient()">
        <div id="ingredient-suggestions"
             class="border bg-blue-50 font-sans border-gray-300 text-gray-900 rounded-lg focus:ring-blue-600 focus:border-blue-600 shadow p-2 hidden">
        </div>
        <div id="selected-ingredients" class="mb-4 font-sans"></div>

        <label class="block mt-4 text-lg font-sans mb-2">Các bước làm</label>
        <div id="steps" class="font-sans">
            <input type="text"
                   class="w-full font-sans bg-blue-50 p-2 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-600 focus:border-blue-600 mb-2"
                   placeholder="Nhập bước 1">
        </div>
        <button type="button" onclick="addStep()"
                class="bg-gradient-to-r font-sans from-blue-600 to-purple-600 text-white px-4 py-2 rounded">
            + Thêm bước
        </button>

        <label class="block mt-4 text-lg font-sans mb-2">Ghi chú</label>
        <div id="notes" class="">
            <input type="text"
                   class="w-full bg-blue-50 font-sans p-2 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-600 focus:border-blue-600 mb-2"
                   placeholder="Nhập ghi chú 1">
        </div>
        <button type="button" onclick="addNote()"
                class="bg-gradient-to-r font-sans from-blue-600 to-purple-600 text-white px-4 py-2 mb-4 rounded">
            + Thêm ghi
            chú
        </button>

        <label class="block text-lg font-sans mb-2">Thực đơn</label>
        <div id="tagWrapper"
             class="hidden border font-sans mb-2 p-2 border-gray-300 text-gray-900 rounded-lg focus:ring-blue-600 focus:border-blue-600 flex flex-wrap gap-2">
            <!-- Thực đơn sẽ hiển thị ở đây -->
            <div id="tagContainer" class="flex bg-blue-50 flex-wrap gap-2"></div>
        </div>
        <input type="text" id="tagInput"
               class="bg-blue-50 font-sans w-full p-2 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-600 focus:border-blue-600"
               placeholder="Nhập thực đơn cho món ăn..." oninput="showSuggestions()" onkeydown="handleKeyPress(event)">

        <ul id="suggestions" class="mt-2  font-sansborder bg-blue-50 rounded shadow hidden bg-white">
            <!-- Gợi ý thực đơn sẽ hiển thị ở đây -->
        </ul>
        <button type="submit"
                class="w-full font-sans bg-gradient-to-r from-blue-600 to-purple-600 text-white p-2 rounded mt-8">
            Tạo công
            thức
        </button>
    </form>
</div>

<script>
    let ingredients = ["Hành", "Tỏi", "Gừng", "Thịt bò", "Thịt gà", "Cà chua", "Rau thơm"];
    let selectedIngredients = new Set();

    function searchIngredient() {
        let input = document.getElementById('ingredient-search').value.toLowerCase();
        let suggestions = document.getElementById('ingredient-suggestions');
        suggestions.innerHTML = '';

        if (input === '') {
            suggestions.classList.add('hidden');
            return;
        }

        let filtered = ingredients.filter(ing => ing.toLowerCase().includes(input) && !selectedIngredients.has(ing));

        if (filtered.length === 0) {
            suggestions.classList.add('hidden');
            return;
        }

        filtered.forEach(ing => {
            let div = document.createElement('div');
            div.classList.add('p-2', 'hover:bg-gray-200', 'cursor-pointer');
            div.innerText = ing;
            div.onclick = () => selectIngredient(ing);
            suggestions.appendChild(div);
        });

        suggestions.classList.remove('hidden');
    }

    function selectIngredient(ingredient) {
        selectedIngredients.add(ingredient);
        document.getElementById('ingredient-search').value = '';
        document.getElementById('ingredient-suggestions').classList.add('hidden');

        let div = document.createElement('div');
        div.classList.add("flex", "gap-2", "mb-2", "items-center");
        div.innerHTML = `
                    <span class="p-2 border rounded bg-gray-100">${ingredient}</span>
                    <input type="text" class="p-2 border border-gray-300 text-gray-900 focus:ring-blue-600 bg-blue-50 focus:border-blue-600 rounded-lg w-1/3" placeholder="Số lượng">
                    <button type="button" onclick="removeIngredient('${ingredient}', this)" class="text-red-500 text-lg font-bold">×</button>
                `;
        document.getElementById('selected-ingredients').appendChild(div);
    }

    function removeIngredient(ingredient, button) {
        selectedIngredients.delete(ingredient);
        button.parentElement.remove();
    }
    function addStep() {
        let stepsList = document.getElementById('steps');
        let childCount = stepsList.childElementCount;
        let step = document.createElement('input');
        step.type = 'text';
        step.classList = 'w-full p-2 bg-blue-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-600 focus:border-blue-600 mb-2';
        step.placeholder = 'Nhập bước ' + String(childCount + 1);
        document.getElementById('steps').appendChild(step);
    }

    function addNote() {
        let notesList = document.getElementById('notes');
        let childCount = notesList.childElementCount;
        let note = document.createElement('input');
        note.type = 'text';
        note.classList = 'w-full p-2 bg-blue-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-600 focus:border-blue-600 mb-2';
        note.placeholder = 'Nhập ghi chú ' + String(childCount + 1);
        document.getElementById('notes').appendChild(note);
    }

    // Thuc don
    const availableTags = ["Món chay", "Món mặn", "Tráng miệng", "Kem"];
    const tagContainer = document.getElementById("tagContainer");
    const tagWrapper = document.getElementById("tagWrapper");
    const tagInput = document.getElementById("tagInput");
    const suggestions = document.getElementById("suggestions");
    let selectedTags = new Set();

    function showSuggestions() {
        let input = tagInput.value.toLowerCase();
        suggestions.innerHTML = "";

        let filteredTags = availableTags.filter(tag => tag.toLowerCase().includes(input) && !selectedTags.has(tag));
        if (filteredTags.length === 0) {
            suggestions.classList.add("hidden");
            return;
        }

        filteredTags.forEach(tag => {
            let li = document.createElement("li");
            li.textContent = tag;
            li.classList.add("p-2", "cursor-pointer", "hover:bg-gray-200");
            li.onclick = () => addTag(tag);
            suggestions.appendChild(li);
        });
        suggestions.classList.remove("hidden");
    }

    function addTag(tag) {
        if (selectedTags.has(tag)) return;
        selectedTags.add(tag);

        let span = document.createElement("span");
        span.textContent = tag;
        span.classList.add("bg-gray-200", "px-3", "py-1", "rounded", "flex", "items-center", "gap-1");

        let removeBtn = document.createElement("button");
        removeBtn.textContent = "×";
        removeBtn.classList.add("ml-2", "text-red-500", "cursor-pointer");
        removeBtn.onclick = () => {
            span.remove();
            selectedTags.delete(tag);
            if (tagContainer.children.length === 0) {
                tagWrapper.classList.add("hidden");
            }
        };

        span.appendChild(removeBtn);
        tagContainer.appendChild(span);
        tagWrapper.classList.remove("hidden");

        tagInput.value = "";
        suggestions.classList.add("hidden");
    }

    function handleKeyPress(event) {
        if (event.key === "Enter" && tagInput.value.trim() !== "") {
            addTag(tagInput.value.trim());
        }
    }
</script>
