
<header class="fixed top-0 w-full z-50">
	<nav class="rounded-lg mx-auto shadow-lg bg-white shadow-lg fadeInTop">
		<div class="flex justify-between">

			<!-- Logo -->
			<a href="~/Home/Index" class="flex items-center py-4 px-2 ml-2 mr-5">
				<!-- <img src="../assets/images/CookinRecipe.svg" alt="Logo"> -->
				<h2 class="text-blue-600 font-bold text-2xl">
					CookinRecipe
				</h2>
			</a>
			<!-- Tìm v -->
			<div class="text-center md:flex hidden mt-1 mr-5 relative">
				<button id="toggleButton" class="font-bold font-sans items-center flex text-blue-600">
					Tìm công thức <div class="mx-1"></div> <i class="fas fa-chevron-down"></i>
				</button>
				<ul id="searchList"
					class="hidden absolute font-sans left-1/2 transform -translate-x-1/2 mt-12 bg-white shadow-lg rounded-lg w-40">
					<li class="cursor-pointer hover:bg-gray-100 p-2 rounded">
						<a class="text-sm" href="@Url.Action("Index", "Recipe")">Từ khóa</a>
					</li>
					<li class="cursor-pointer hover:bg-gray-100 p-2 rounded">
						<a class="text-sm" href="@Url.Action("Index", "Course")">Thực đơn</a>
					</li>
					<li class="cursor-pointer hover:bg-gray-100 p-2 rounded">
						<a class="text-sm" href="@Url.Action("Index", "Ingredient")">Nguyên liệu</a>
					</li>
				</ul>
				<script>
					const button = document.getElementById('toggleButton');
					const list = document.getElementById('searchList');

					button.addEventListener('mouseenter', () => {
						list.classList.remove('hidden');
					});

					button.addEventListener('click', () => {
						list.classList.toggle('hidden');
					});

					list.addEventListener('mouseleave', () => {
						list.classList.add('hidden');
					});
				</script>
			</div>

			<div class="relative  md:flex hidden w-1/4 mt-2 mb-2 mx-auto">
				<!--
				<form id="formSearch" action="~/Recipe/Search" method="get" data-container="#searchResult">
            <input type="hidden" name="f(Model.PageSize)" value="Model.PageSize" />
					<input type="text" placeholder="Bạn muốn nấu món gì?" name="searchValue" type="text" value="Model.SearchValue"
					   class="font-sans w-full px-4 py-1 pl-6 pr-10 text-gray-700 bg-white border border-gray-300 rounded-full shadow-sm focus:outline-none focus:ring-2 focus:ring-gray-300 focus:border-transparent">
					   <button class="absolute inset-y-0 right-3 mb-1 flex items-center" type="submit">
					<i class="fas fa-search text-bl"></i>
				</button>
				</form>
					-->
			</div>
			<!-- Secondary Navbar items -->
			<div class="ml-auto flex items-center space-x-3 ">

				@{
					var userData = User.GetUserData();

					if(userData!=null){
						<!-- Message -->
						<div class="relative">
							<button id="messageButton" data-userid="@long.Parse(@userData.UserId)" class="text-blue-600 hover:text-blue-700">
								<i class="fas fa-bell text-xl"></i>
								<!-- <span class="absolute -top-1 -right-1 bg-red-500 text-white text-xs rounded-full px-1">99+</span> -->
							</button>
							<div id="messageDropdown"
								 class="scrollbar-hidden hover:scrollbar-show hidden absolute -right-4 mt-2 w-52 md:w-64 bg-white shadow-lg rounded-lg max-h-60 overflow-y-auto">
								<!-- Đặt tạm loading UI -->
								<div id="noti-loading" class="p-3 text-center text-gray-500">Đang tải thông báo...</div>
							</div>
							@section Scripts {
							<script>
								$("#messageButton").click(function () {
									const userId = $(this).data("userid");

									// Loading trước khi fetch
									$("#messageDropdown").html('<div class="p-3 text-center text-gray-500">Đang tải thông báo...</div>');

									$.get(`/Notification/GetNotifications/${userId}`, function (data) {
										$("#messageDropdown").html(data).removeClass("hidden");
									});
								});

								// Toggle dropdown hiển thị
								document.addEventListener("click", (event) => {
									const btn = document.getElementById("messageButton");
									const dropdown = document.getElementById("messageDropdown");

									if (!btn.contains(event.target) && !dropdown.contains(event.target)) {
										dropdown.classList.add("hidden");
									}
								});
							</script>
							}

						</div>
						<!-- Avatar -->
						<div class="relative font-sans">
							<button id="avaButton" class="text-bl hover:text-blue-800">
								<img src="~/Themes/images/user/@userData.UserImage" class="w-8 h-8 rounded-full" alt="user_avatar">
							</button>
							<div id="avaDropdown"
								 class="hidden absolute right-0 mt-2 w-52 bg-white shadow-lg rounded-lg overflow-hidden">
								<div class="flex p-2">
									<img src="~/Themes/images/user/@userData.UserImage" class="rounded-full w-12 h-12">
									<div class="ml-2 mr-2">
										<p class="text-gray-800 text-md font-bold overflow-ellipsis overflow-hidden whitespace-nowrap font-medium">
											@userData.FullName
										</p>
										<a href="~/User/Index" class="text-blue-600 text-sm">Xem trang cá nhân</a>
									</div>
								</div>
								<div class="p-2 space-y-1  border-t">
									<a href="~/Recipe/Create">
										<div class="flex items-center p-1 hover:bg-gray-100 hover:text-bl rounded cursor-pointer">
											<i class="fas fa-pen ml-2"></i>
											<p class="text-md ml-5">Tạo công thức mới</p>
										</div>
									</a>
									<a href="~/Favourite/Index">
										<div class="flex items-center p-1 hover:bg-gray-100 hover:text-bl rounded cursor-pointer">
											<i class="fas fa-thumbs-up ml-2"></i>
											<p class="text-md ml-5">Đã thích</p>
										</div>
									</a>
									<a href="~/List/Index">
										<div class="flex items-center p-1 hover:bg-gray-100 hover:text-bl rounded cursor-pointer">
											<i class="fas fa-bookmark ml-2"></i>
											<p class="text-md ml-5">Danh sách lưu</p>
										</div>
									</a>

									<a href="#setting">
										<div class="flex items-center p-1 hover:bg-gray-100 hover:text-bl rounded cursor-pointer">
											<i class="fas fa-cog ml-2"></i>
											<p class="text-md ml-5">Cài đặt</p>
										</div>
									</a>

									<a href="#changePassword">
										<div class="flex items-center p-1 hover:bg-gray-100 hover:text-bl rounded cursor-pointer">
											<i class="fas fa-key ml-2"></i>
											<p class="text-md ml-5 ">Đổi mật khẩu</p>
										</div>
									</a>
								</div>

								<a href="~/Account/Logout">
									<div class="p-2 border-t font-bold text-center text-bl hover:bg-gray-100 cursor-pointer">
										<i class="fas fa-sign-out-alt"></i> Đăng xuất
									</div>
								</a>
							</div>
							<script>
								const avaButton = document.getElementById("avaButton");
								const avaDropdown = document.getElementById("avaDropdown");

								avaButton.addEventListener("click", () => {
									avaDropdown.classList.toggle("hidden");
								});

								// Ẩn dropdown khi click bên ngoài
								document.addEventListener("click", (event) => {
									if (!avaButton.contains(event.target) && !avaDropdown.contains(event.target)) {
										avaDropdown.classList.add("hidden");
									}
								});
							</script>
						</div>
					}
				}
				@{

					if(userData==null){
				<a id="nav-login-btn" href="~/Account/Login"
				   class="md:flex hidden py-2 px-2 text-base text-blue-600 font-regular">Đăng nhập</a>
				<a id="nav-signup-btn" href="~/Account/SignUp" class="md:flex hidden">
					<button class="bg-gradient-to-r from-blue-600 to-purple-600 hover:bg-blue-700 duration-300 text-white text-base font-regular py-2 px-4 rounded">
						Đăng ký
					</button>
				</a>
					}
					}
				<!-- Mobile menu button -->
				<div class="md:hidden flex items-center">
					<button class="outline-none mobile-menu-button">
						<svg class=" w-6 h-6 text-bl hover:text-bl" x-show="!showMenu" fill="none"
							 stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
							 stroke="currentColor">
							<path d="M4 6h16M4 12h16M4 18h16"></path>
						</svg>
					</button>
				</div>
				<div class="mx-3"></div>
			</div>
		</div>

		<!-- mobile menu -->
		<div class="hidden mobile-menu p-3">
			<ul class="">
				<div class="relative w-full mt-2 mb-2 mx-auto">
					<input type="text" placeholder="Bạn muốn nấu món gì?"
						   class="w-full font-sans px-4 py-2 pl-6 pr-10 text-gray-700 bg-white border border-gray-300 rounded-full shadow-sm focus:outline-none focus:ring-2 focus:ring-gray-300 focus:border-transparent">
					<button class="absolute inset-y-0 right-3 mb-1 flex items-center">
						<i class="fas fa-search text-bl"></i>
					</button>
				</div>
				<li class="active" id="nav-login-btn-mobile">
					<a href="~/Account/Login"
					   class="block text-sm px-2 py-4 hover:bg-gray-100 transition duration-300 text-base font-regular">
						Đăng
						nhập
					</a>
				</li>
				<li id="nav-signup-btn-mobile">
					<a href="~/Account/SignUp"
					   class="block text-sm px-2 py-4 hover:bg-gray-100 transition duration-300 text-base font-regular">
						Đăng
						ký
					</a>
				</li>
				<li>
					<a href="~/Recipe/Create"
					   class="block text-sm px-2 py-4 hover:bg-gray-100 transition duration-300 text-base font-regular">
						Tạo
						công thức mới
					</a>
				</li>
				<li>
					<a href="~/Course/Index"
					   class="block text-sm px-2 py-4 hover:bg-gray-100 transition duration-300 text-base font-regular">
						Thực
						đơn
					</a>
				</li>
				<li>
					<a href="~/Ingredient/Index"
					   class="block text-sm px-2 py-4 hover:bg-gray-100 transition duration-300 text-base font-regular">
						Nguyên
						liệu
					</a>
				</li>
			</ul>
		</div>
		<script>
			const btn = document.querySelector("button.mobile-menu-button");
			const menu = document.querySelector(".mobile-menu");

			btn.addEventListener("click", () => {
				menu.classList.toggle("hidden");
			});
		</script>
	</nav>
</header>